 .parent{
    background-color:aquamarine;
    padding:23px;
    display:flex;
    gap:20px;
    height:233px;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;


 }
 .child{
    background-color:beige;
    padding:12px;
    border:2px solid green;
    border-radius:12px;

 }